.bg-main {
  /* background-image: linear-gradient(45deg, #2cb6d2 0%, #56ceb2 100%); */
  background-color: #00d1b2;
  color: #ffffff;
  /* background-image: linear-gradient(90deg, #4bfa8b 0%, #48e9f5 100%); */
  /* box-shadow: 4px 1px 15px 0px #747474; */
}
.bg-navigation {
  background-color: #ffffff;
}
.bg-farm {
  background-color: #10b468;
  color: #ffffff;
}
.border-raising {
  border: 1px solid #4b3eff;
}
.bg-raising {
  background-color:#4b3eff;
}
.border-finish {
  border: 1px solid #2ad370;
}
.bg-finish {
  background-color:#2ad370;
}
.bg-navbar {
  color:#ffffff;
}
.bg-navbar:hover {
  color:#ffffff;
}
.bg-navbar-active {
  color:#ffffff;
  background-color:#00b89c;
}