.bg-main {
  /* background-image: linear-gradient(45deg, #2cb6d2 0%, #56ceb2 100%); */
  background-color: #00d1b2;
  color: #ffffff;
  /* background-image: linear-gradient(90deg, #4bfa8b 0%, #48e9f5 100%); */
  /* box-shadow: 4px 1px 15px 0px #747474; */
}
.bg-navigation {
  background-color: #ffffff;
}
.bg-farm {
  background-color: #10b468;
  color: #ffffff;
}
.border-raising {
  border: 1px solid #4b3eff;
}
.bg-raising {
  background-color:#4b3eff;
}
.border-finish {
  border: 1px solid #2ad370;
}
.bg-finish {
  background-color:#2ad370;
}
.icon-shape {
  padding: 12px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}
.icon {
  width: 3rem;
  height: 3rem;
}
.bg-gradient-farm {
  background: linear-gradient(87deg,#f5365c,#f56036)!important;
}
.bg-gradient-house {
  background: linear-gradient(87deg,#215cfd,#4199ff)!important;
}
.bg-gradient-generation {
  background: linear-gradient(87deg,#B721FF,#ff38ff)!important;
}
.bg-gradient-account {
  background: linear-gradient(87deg,#20e030,#acf536)!important;
}
.border-bottom-gradient-farm {
  border: 0px;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(87deg, #f5365c 0%, #f56036 100%);
  border-image-slice: 1;
  border-radius: 0.25rem;
}
.border-bottom-gradient-house {
  border: 0px;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(87deg, #215cfd 0%, #4199ff 100%);
  border-image-slice: 1;
  border-radius: 0.25rem;
}
.border-bottom-gradient-generation {
  border: 0px;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(87deg, #B721FF 0%, #ff38ff 100%);
  border-image-slice: 1;
  border-radius: 0.25rem;
}
.border-bottom-gradient-account {
  border: 0px;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(87deg, #20e030 0%, #acf536 100%);
  border-image-slice: 1;
  border-radius: 0.25rem;
}
.generation-list {
  cursor: pointer;
  color: #8a8a8a;
}
.generation-list:hover {
  box-shadow: 0px 0px 5px 0px #4ef1bb;
}
.generation-active {
  box-shadow: 0px 0px 5px 0px #4ef1bb;
}
.form-style-valid {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #20e030;
  background-color: #f1fff2;
}
.form-style-valid:disabled {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #b3b3b3;
  background-color: #f7f7f7;
}
.form-style-invalid {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #e02620;
  background-color: #fff2f1;
}
.form-style-invalid:disabled {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #b3b3b3;
  background-color: #f7f7f7;
}
.bg-navbar {
  color:#ffffff;
}
.bg-navbar:hover {
  color:#ffffff;
}
.bg-navbar-active {
  color:#ffffff;
  background-color:#00b89c;
}