.text-farm {
  color: #10b468;
}
.farm-list {
  cursor: pointer;
  color: #c4c4c4;
}
.farm-list:hover {
  box-shadow: 0px 0px 5px 0px #4ef1bb;
}
.farm-active {
  box-shadow: 0px 0px 5px 0px #4ef1bb;
}
.house-list {
  cursor: pointer;
  color: #c4c4c4;
}
.house-list:hover {
  box-shadow: 0px 0px 5px 0px #4ef1bb;
}
.text-data {
  color:#aa6f21;
}
.text-raising {
  color:#4b3eff;
}
.text-finish {
  color:#2ad370;
}